/* center the whole game in viewport*/
body{
    margin:0;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* stack title, board , controls vert*/
.game-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

/*board grid rows*/
.row{
    display:flex;
}

.cell{
    width: 50px;
    height: 50px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #bbb;
    margin: 2px;

    display:flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size:40px;

    box-shadow:0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.cell.reveal{
    transform: scale(1.05);
}

/* feedback colors*/
.green{
    background-color: #6aaa64; color:white;
}

.yellow{
    background-color: #c9b458; color:white;
}

.red{
    background-color: #be4141; color:white;
}

h1{
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.controls{
    display:flex;
    gap:10px;
}

#guessInput{
    width: 140px;
    padding: 6px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #777;
}

#guessButton, #newGameButton{
    padding: 6px 14px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #444;
    color:white;
}

#guessButton:hover, #newGameButton:hover{
    background-color:#b7b5b5;
}